<div class="container">
    <h3 class="text-center" style="padding: 0 0 5px 0; margin: 0 0 40px 0;"><br />

<a href="https://simpleswap.io/?ref=e4f393d29f1a" target="_blank">Link simpleswap.io</a><br />

<br />

    <iframe id="simpleswap-frame" name="SimpleSwap Widget" width="420px" height="400px" src="https://simpleswap.io/widget/e5d7894f-0b63-4721-8f60-e3ffd8fe8026" frameborder="0"></iframe> <style scoped>#simpleswap-frame{width:100%!important;max-width:480px;height:420px!important;}@media(min-width:476px){#simpleswap-frame {height: 400px!important;}}</style>
</h3>
</div>