/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: url('/bg.png');
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.center {
  align-items: center;
  display: flex;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
  padding-top: 20px;
  padding-bottom: 5px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,232,1)), color-stop(100%,rgb(95 191 0 / 66%))); /* Chrome4-9,Safari4-5 */
}

body > .container {
  padding: 0px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
	margin: 0;
	padding: 40px 0 15px 0;
	margin-bottom: 15px;
}

.jumbotron-brand {
  margin: 0;
	padding: 40px 0 15px 0;
	margin-bottom: 15px;
  background-color: #f0ad4e80;
}

code {
  font-size: 80%;
}

.hash {
  font-family: Courier, monospace;
}

.navbar-default {
    background-color: #04191f;
    border-color: #69102b;
}

.bg-gradientblue {
    background: rgba(0,4,8,1);
    background: -moz-linear-gradient(left, rgba(0,4,8,1) 0%, rgba(12,68,128,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,4,8,1)), color-stop(100%, rgba(12,68,128,1)));
    background: -webkit-linear-gradient(left, rgba(0,4,8,1) 0%, rgba(12,68,128,1) 100%);
    background: -o-linear-gradient(left, rgba(0,4,8,1) 0%, rgba(12,68,128,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,4,8,1) 0%, rgba(12,68,128,1) 100%);
    background: linear-gradient(to right, rgba(0,4,8,1) 0%, rgba(12,68,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000408', endColorstr='#0c4480', GradientType=1 );
    border-color: #69102b;
}

.navbar-default .navbar-brand {
    color: #dadada;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #dadada;
}
.navbar-default .navbar-nav > li > a {
    color: #dadada;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #0a6c9d00;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #69102b;
}
.navbar-default .navbar-toggle {
    border-color: #0a6c9d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0a6c9d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #dadada;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #dadada;
}
.navbar-default .navbar-link {
    color: #dadada;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #dadada;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #0a6c9d;
    }
}

span.logo-1 {
	font-weight: 700;
  font-style: italic;
	color: #61BD81;
  padding: 0 7px 0 23px;
}

span.logo-2 {
	font-weight: 700;
	color: #4A4A4A;
  padding: 0 23px 0 5px;
}

span.logo-3 {
	color: #FFF;
	font-weight: 100;
  padding: 0 3px 0 3px;
}

span.logo-gold {
	color: #f2cf18;
	font-weight: 700;
  padding: 0 3px 0 3px;
}

.etc {
  height: 30px;
  width: 30px;
  pointer-events: none;
}

.etc-green > object{
  float: left;
}

.etc-green > strong{
  float: left;
}


/* That time i figured out how to do that thing to scale svg

  .etc-green {
  transform: scale(0.4);
  transform: translate(-200px, -50px);
}
*/

.navbar-collapse {
	font-size: 14px;
	font-weight: 200;
}

.note {
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
	border-radius: 5px;
}

.note-info {
	background-color: #E8F6FC;
	border-color: #57b5e3;
}

.note-danger {
	background-color: #fce8e8;
	border-color: #ff0000;
}

h4.note {
	margin-top: 0;
	font-weight: 300 !important;
}
/*---------------------------------------------------------------------------------------------------*/
/*----------------------------Bootstrap side notes for calling out things----------------------------*/
/*---------------------------------------------------------------------------------------------------*/

/* Base styles (regardless of theme) */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
/* Themes for different contexts */

/* Default */
.bs-callout-default {
    background-color: #eeeeee;
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}

/* Primary */
.bs-callout-primary {
    background-color: #e8effc;
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}

/* Success */
.bs-callout-success {
    background-color: #eafce8;
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}

/* Danger */
.bs-callout-danger {
    background-color: #fce8e8;
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}

/* Warning */
.bs-callout-warning {
    background-color: #fcfbe8;
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}

/* Info */
.bs-callout-info {
    background-color: #E8F6FC;
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/*---------------------------------------------------------------------------------------------------*/
/*----------------------------x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x----------------------------*/
/*---------------------------------------------------------------------------------------------------*/

/* Stats */
.stats {
	margin-bottom: 10px;
	margin-top: 5px;
}
.stats:last-child{
	width: auto;
}
.stats > h3 > i {
	width: 21px;
}
.stats > div{
	padding: 5px 0;
}
.stats > div > .fa {
	width: 25px;
}
.stats > div > span:first-of-type{
	font-weight: bold;
}

/*--------------------------------------| Bootstrap overrides |--------------------------------------*/

.ul, .ul-link {
  font-weight: 200;
  text-align: center;
}

.ul-link:hover, .ul-link:focus {
  color: inherit;
  text-decoration: none;
  opacity: .70;
}

.ul-default {
    color: #777;
    border-bottom: 2px solid #777;
}

.ul-primary {
    color: #428bca;
    border-bottom: 2px solid #428bca;
}

.ul-success {
    color: #5cb85c;
    border-bottom: 2px solid #5cb85c;
}

.ul-danger {
    color: #d9534f;
    border-bottom: 2px solid #d9534f;
}

.ul-warning {
    color: #f0ad4e;
    border-bottom: 2px solid #f0ad4e;
}

.ul-info {
    color: #5bc0de;
    border-bottom: 2px solid #5bc0de;
}

.ul-etc {
    color: #61BD81;
    border-bottom: 2px solid #61BD81;
}

/*-----------------------------------------| Custom Classes |-----------------------------------------*/

.btn-etc {
  background-color: #61BD81;
  border-color: #408c5a;
}

.btn-etc:hover {
    color: #fff;
    background-color: #428359;
    border-color: #2c623e;
}

/*--------------------------------------| x-x-x-x-x-x-x-x-x-x |--------------------------------------*/

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-cherry,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-grass,
.bg-wood,
.bg-black {
    color: #f9f9f9 !important;
}
.bg-gray {
    background-color: #eaeaec !important;
}
.bg-blackd{
    background-color: #222222 !important;
}
.bg-red {
    background-color: #f56954 !important;
}
.bg-yellow {
    background-color: #f39c12 !important;
}
.bg-cherry{
    background-color: #cd1231 !important;
}
.bg-aqua {
    background-color: #00c0ef !important;
}
.bg-blue {
    background-color: #0073b7 !important;
}

.bg-light-blue {
    background-color: #5fb4ef !important;
}
.bg-wood{
    background-color: #ab7d44 !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-grass {
    background-color: #a1c436 !important;
}
.bg-navy {
    background-color: #001f3f !important;
}
.bg-teal {
    background-color: #39cccc !important;
}
.bg-olive {
    background-color: #7f8000 !important;
}
.bg-lime {
    background-color: #00e405 !important;
}
.bg-orange {
    background-color: #ff851b !important;
}
.bg-fuchsia {
    background-color: #f012be !important;
}
.bg-purple {
    background-color: #932ab6 !important;
}
.bg-maroon {
    background-color: #85144b !important;
}

.bg-black {
    background-color: #000 !important;
}
/* Text colors */
.text-red {
    color: #f56954 !important;
}
.text-yellow {
    color: #f39c12 !important;
}
.text-aqua {
    color: #00c0ef !important;
}
.text-blue {
    color: #0073b7 !important;
}
.text-light-blue {
    color: #3c8dbc !important;
}
.text-green {
    color: #00a65a !important;
}
.text-navy {
    color: #001f3f !important;
}
.text-teal {
    color: #39cccc !important;
}
.text-olive {
    color: #7f8000 !important;
}
.text-lime {
    color: #01ff70 !important;
}
.text-orange {
    color: #ff851b !important;
}
.text-fuchsia {
    color: #f012be !important;
}
.text-purple {
    color: #932ab6 !important;
}
.text-maroon {
    color: #85144b !important;
}

.text-white {
    color: #ffffff !important;
}

.text-light-yellow
{
    color: #fefc2e  !important;

}

.display>.icon {
    padding-top:5px;
    display: inline-flex;
    font-size: 55px;
}

.info-holder h3, .display>.icon {
    color: #717070; /* darkgray */
    text-shadow: 1px 1px 2px #00000020;
}

.display>.number {
    display: inline-block;
    float: right;
    text-align: right;
}

.display>.number span {
    text-align: right;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 45px;
    letter-spacing: -5px;
}

.info-holder p,
.display>.number span {
    color: #2c4754;
    text-shadow: -2px -1px 3px #c5c5c5, 1px 1px 3px #6568693b;
}

.display>.number h3 {
    font-size: 14px;
    text-shadow: 1px 1px 3px #00000040;
    text-transform: uppercase;
    margin: 0;
    text-align: right;
    color: #868383;
}

.info-holder, .stat-holder {
    padding: 15px;
    /* background: linear-gradient(45deg,#fafaf8 10%,#fbfafa 90%); /* */
background: linear-gradient(45deg,rgb(255 255 255 / 15%),#f1f1f1 90%);
    border: 1px solid rgba(255,255,255,.05);
    border-left: 1px solid #ececec;
    border-right: 1px solid #1736d2;
    border-bottom: 1px solid #e11f1f;
    border-top: 1px solid #e8e5e5;
    height: 110px;
}

.info-holder {
    padding: 0;
}

.info-holder .item {
    margin: 0;
    padding: 16px 10px;
    height: 55px;
}

.info-holder .item0 {
    padding: 14px 10px;
    height: 110px;
}

.info-holder .item0 p {
    width: 100%;
    line-height: 1.5;
    font-size: 18px
}

.info-holder .item0 .icon h3 {
    margin: 10px 5px 10px 2px;
    padding-top: 8px;
    display: inline-block;
    width: 50px;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: #717070; /* darygray icon */
    float: left;
}

.info-holder .item0 .desc {
    float: right;
    width: 78%;
}

.info-holder .item:first-child {
    border-bottom: 1px solid #d2d2d2;
}

.info-holder .item:nth-child(2) {
    border-top: 1px solid #f3f3f3
}

.info-holder h3, .info-holder p {
    display: inline-block;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.info-holder h3 {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

.info-holder p {
    float: right;
    font-size: 22px;
    line-height: 100%;
}

.info-holder p.desc {
    font-size: 18px;
}

.info-holder .item p {
    white-space: nowrap;
}

.currency .dropdown-menu {
    min-width: auto;
    background: #fafaf8;
}
.currency .dropdown-menu>li>a {
    color: #adab51;
    font-weight: 600;
    text-shadow: 1px 1px 2px #00000012;
}

.currency .dropdown-menu>li>a:focus, .currency .dropdown-menu>li>a:hover {
    color: #b7bb13;
    background-color: #454c54;
}

body {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    color: #4e4d4d;
    background-color: #f5f6f7; /* */
}

.main-chart .chart-container {
    background-color: transparent;
    box-shadow: none;
}

ul.currency {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}

a#selectedCurrency {
    color: #adab51;
}

table {
    border-spacing: 0;
    border-collapse: separate;
}

.table {
    margin-bottom: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #efefef;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #fafaf8;
    border-bottom: 1px solid #a0a0a0;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #cacaca;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #757564;
    font-weight: bold;
    background-color: #fdfeff;
    border: 1px solid #c7c7c7;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom-color: #ddd;
}

.nav-tabs>li>a:hover {
    border-color: #d8d8d8 #c7c7c7 #d0d0d0;
    color: #75735e;
    font-weight: bold;
}

.table-responsive {
    border: 1px solid #e4e4e4;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #b8b8b9;
    margin-bottom: 20px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #3e3b3b;
}

@media (max-width: 1119px) {
    .display>.icon {
        opacity: .4;
        position: absolute;
    }

    .display>.number span {
        font-size: 35px;
    }

    .info-holder .item0 .icon {
        position: absolute;
        opacity: 0.4;
    }

    .info-holder .item0 .desc {
        text-align: right;
    }

    .info-holder .item0 p {
        font-size: 16px;
        text-align: right;
    }
    .info-holder h3 {
        font-size: 16px;
        position: absolute;
    }
}

.note {
	margin: 0 0 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 0px solid #eee;
	border-radius: 25px;
	-webkit-box-shadow: 3px 2px 9px -1px rgba(0,0,0,0.75);
	moz-box-shadow: 3px 2px 9px -1px rgba(0,0,0,0.75);
	box-shadow: 3px 2px 9px -1px rgba(0,0,0,0.75);
}

.note-info {
	background-color: #D0F7FF;
	border-color: #8269D8;
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.worker-class.warning.offline-1 > td{
  background-color: #ffd1d1;
}

.worker-class.warning.offline-2 > td{
  background-color: #f99393;
}

.worker-class.warning.offline-3 > td{
  background-color: #ff5959;
  color:#ffffff;
}

.worker-class.warning.offline-4 > td{
  background-color: #ff3e3e;
  color:#ffffff;
}

.worker-class.warning.offline-5 > td{
  background-color: #ff1e1e;
  color:#ffffff;
}

.navbar-default {
    background: rgba(0,4,8,1);
    background: -moz-linear-gradient(left, rgba(0,4,8,1) 0%, rgba(12,68,128,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,4,8,1)), color-stop(100%, rgba(12,68,128,1)));
    background: -webkit-linear-gradient(left, rgba(0,4,8,1) 0%, rgba(12,68,128,1) 100%);
    background: -o-linear-gradient(left, rgba(0,4,8,1) 0%, rgba(12,68,128,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,4,8,1) 0%, rgba(12,68,128,1) 100%);
    background: linear-gradient(to right, rgba(0,4,8,1) 0%, rgba(12,68,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000408', endColorstr='#0c4480', GradientType=1 );
    border-color: #69102b;
}

.bn632-hover {
  width: 118px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: -11px;
  height: 32px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn24 {
    background-image: linear-gradient(
      to right,
      #6253e1,
      #852d91,
      #a3a1ff,
      #f24645
    );
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  }