<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <h3>Terms of Service</h3>
  <p>By using the pool you accept all possible risks related to software usage.<br/>
     Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
  </p>
  <h3>Details</h3>
  <p>
    <ul>
      <li>Written in Go it's a rocket highly concurrent and low RAM consuming piece of code</li>
      <li>High performance proxy</li>
      <li>Payouts and block unlocking module</li>
      <li>Designed for 100% distributed setup</li>
      <li>Strict policy module</li>
      <li>Beautiful modern Ember.js frontend</li>
      <li>Pool server Europe</li>
    </ul>
  </p> 

  <h3>What is Ethereum’s Uncle Rate?</h3>
  <p>Uncle blocks are a phenomenon of Ethereum’s blockchain. The uncle rate is, therefore, the rate at which Ethereum’s blockchain orphans blocks. The primary reason this occurs is due to network latency, which is a strong indication that the data size of the blocks in the blockchain is too large.</p>

  <h3>What is personal luck?</h3>

  <p>Personal luck is a simple counter of your work in relation to difficulty of the network. If you find a block with a personal luck value equal to 100%, then the work you spent will be equal to the calculated one for various calculators. If you find a block with a personal luck value equal to 50%, then the work you spent will be 2 times less than the calculated on various calculators, you will get 2 times more profit.</p>

  <h3>What is Share Difficulty?</h3>

<p>Technically, shares are the same blocks, but just with modified (reduced in this case) difficulty. Your workers are mining those shares, and it is important for them to be easy to find. Otherwise, it would be impossible for pool to track worker statistics and verify that it is actually mining, not just sending unproven hashrate reports.</p>

  <h3>What are Stale Shares? How they affect my profitability?</h3>
  <p>Stale shares are shares that were sent to the pool after they were expired. This directly affects your profitability, and it is recommended to keep them as low as possible.</p>
<p>Normal stale rate is the stale rate below 1%. Everything above in unacceptable unless you are located far away from the closest Pool region.</p>
<p>Tips for reducing the stale rate:</p>
    <ul>
      <li>Use Ethernet instead of Wi-Fi.</li>
      <li>Use Cable/Fiber connection (not mobile).</li>
      <li>Make sure that you've disabled the Ethernet power save mode, if you have one enabled.</li>
    </ul>
<p>Things that cause stale shares:</p>
    <ul>
      <li>Latency between your worker and pool server</li>
      <li>Poor miner software</li>
      <li>Packet loss</li>
      <li>Jitter</li>
</ul>
</div>