<div class="container">

  <div class="page-header">
    <h1>How To Mine</h1>
  </div>

 <h3 class="text-center" style="padding: 0 0 5px 0; margin: 0 0 40px 0;"> Instructions</h3>
  <div class="jumbotron">
    <h3 class="text-center" style="padding: 0 0 5px 0; margin: 0 0 40px 0;">Stratum mode using lolMiner</h3>
    <h4>Download, configure and run lolMiner</h4>
    <li>Windows / Linux <a href="https://bitcointalk.org/index.php?topic=4724735.0">lolMiner</a></li>
    <li>Then start your miners by putting the following commands into a bat file</li>
    <h4>Windows</h4>
    <h4><li><code>lolMiner.exe --algo ETCHASH --pool {{config.StratumHost1}}:7000 --user 0xdb454ce9ca12f5d2d0e1568b9817097798460b1c</code></li></h4>

    <h4>Linux</h4>
    <h4><li><code>./lolMiner --algo ETCHASH --pool {{config.StratumHost1}}:7000 --user 0xdb454ce9ca12f5d2d0e1568b9817097798460b1c</code></li></h4>

  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <p class="text-justify">
        <h4>Terms of Service</h4>
        <p>By using the pool you accept all possible risks related to software usage.<br/>
           Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
        </p>
      </p>
    </div>
  </div>

</div>
