<div class="container">

  <div class="page-header">
    <h1>How To Mine</h1>
  </div>
  <div class="jumbotron">
    <h3 class="text-center" style="padding: 0 0 5px 0; margin: 0 0 40px 0;">Instructions</h3>
    <h4>Choose your mining software</h4>
    <h4>Download</h4>
    <li><a href="https://nanominer.org">Nanominer</a></li>
    <li><a href="https://github.com/Lolliedieb/lolMiner-releases/releases">lolMiner</a></li>
    <li><a href="https://github.com/develsoftware/GMinerRelease/releases">GMiner</a></li>
    <li><a href="https://github.com/trexminer/T-Rex/releases">T-Rex</a></li>
    <li><a href="https://github.com/NebuTech/NBMiner/releases">NBMiner</a></li>
    <li><a href="https://github.com/doktor83/SRBMiner-Multi/releases">SRBMiner-Multi</a></li>
    <li><a href="https://github.com/todxx/teamredminer/releases">Team Red Miner </a></li>
    <li><a href="https://bitcointalk.org/index.php?topic=2647654.0">PhoenixMiner</a></li>

  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <p class="text-justify">
        <h4>Terms of Service</h4>
        <p>By using the pool you accept all possible risks related to software usage.<br/>
           Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
        </p>
      </p>
    </div>
  </div>

</div>
